<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
</head>
<body>
    <h1>Dojo Fruit Store!</h1>
    <h3>What would you like to buy?</h3>
    <table>
        <tr>
            <th>Fruit Name</th>
            <th>Quantity</th>
        </tr>
        <tr>
            <td>Strawberry</td>
            <td>
                <select name="strawberry">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Raspberry</td>
            <td>
                <select name="raspberry">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Apple</td>
            <td>
                <select name="apple">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </td>
        </tr>
    </table>
    <h4>Your Information</h4>
    
</body>
</html>