<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Index Page</h1>
    <h3>Create a User</h3>
    <form action='/result' method='post'>
        Name: <input type='text' name='name'>
        Location: <select name="loc">
            <option value="San Jose">San Jose</option>
            <option value="Emeryville">Emeryville</option>
        </select>
        Language: <select name="lang">
            <option value="Python">Python</option>
            <option value="Swift">Swift</option>
        </select>
        Comment (optional):
        <textarea name="comment" cols="30" rows="10"></textarea>
        <input type='submit' value='Submit'>
    </form>
</body>
</html>